<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'weather/css/reg.css' %}">    
</head>
<body>
    <header>
        <div class="wrapper">
            <h1>Возьми зонтик</h1> 
            <picture>
                <source media="(min-width: 390px)" srcset="{% static 'weather/images/umbrella.svg' %}">
                <img src="{% static 'weather/images/umbrella.svg' %}" alt="иконка зонтика">
            </picture>
        </div>
    </header>
    <!-- остальной код -->
    <main>
        <section>
            <h2>Регистрация</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Зарегистрироваться</button>
            </form>
            <p>Есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </section>
    </main>
    <footer></footer>
</body>
</html>
